p{
    font-family: 'Indie Flower', cursive;

}

h1{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

body{
    background-color: skyblue;
}

ul{
    font-family: 'Indie Flower', cursive;
}

.instruments{
    background-color: green;
    border: dotted 8px black;
}

.singers{
    background-color: red;
    border: dotted 5px blueviolet;
}

#musicians{
    background-color: #CEA0AE;
    border: dotted 7px blue;
}

#purpose{
    background-color: #BEEE62;
}

.passion{
    background-color: #E8AE68;
    border: dotted 4px #BEEE62;
}

img{
    width: 80px;
    height: 80px;
}

.nav{
    background-color: yellow;
    border: dotted 6px black;
}